body{
    background: url(../images/image.png);
}
.navbar-brand{
    color:#17a2b8  !important;
}
.navbar-nav li{
    margin-right:1em;
    padding-left:0.4em;
    padding-right:0.4em;
}
.navbar-nav li:hover{
    background-color:#17a2b8;
    border-radius: 5px;
}
.navbar-nav li:hover .nav-link{
    color:#fff !important;
}

.alert-info{
    border-radius: 10px;
    box-shadow: 2px 2px 5px #17a2b8,-2px -2px 5px #17a2b8;
}
html {
    scroll-behavior: smooth;
  }
  .top{
      font-size: 200%;
  }