body {
    background-image: url("logos/feature.jpg");
    color: #FFFFFF;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 200;
}
.qoute{
    color: silver;
    padding-bottom:50px ;
}
.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #FFFFFF;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.the-title {
    margin:200px;
    margin-bottom:50px;
    font-size: 450%;
}

.link-background
{
    background-image:url("logos/b1.jpg") ;
}
